html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel="stylesheet", href="styling.css")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
    body(class="container")

    h1(class="display-4") Open Community Space
    p(class="text-muted") Feel free to post anything you want here.

    if data 
        - var values = data
    else
        h1 No data has been found!

    ul
        each val in values
            br
            li(class="card") 
                div(class="card-header") 
                    span(class="badge badge-dark") #{val.tag}
                div(class="card-body")  
                    h2(class="card-title") #{val.title}
                    p(class="card-text") #{val.content}
                    small #{val.date_published}
                    br
                    a(href="/notes/note/"+ val._id) more
            

    a(href="/notes/noteform" class="btn btn-dark float-right") Make a note.
    

    script(src="scripts.js")
    
       
