html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")

    body(class="container")

    h1 Make a new note.
    form(method="POST" action="/notes/noteform/newnote"  class="form")
        div(class="form-group")
            label(for="title") Title
            input( class="form-control" type="text"  name="title" placeholder="title")
        div(class="form-group")
            label(for="img_url") Image URL
            input( class="form-control" type="text"  name="img_url" placeholder="Base url to an image")
        div(class="form-group")
            label(for="content" rows="5") Content
            textarea( class="form-control" type="text"  name="content"  placeholder="content")
        div(class="form-group")   
            label(for="tag") Tag
            input( class="form-control" type="text" name="tag" placeholder="tag")
        div(class="form-group")  
            input( class="btn btn-primary float-right" type="submit")

    
       
