html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
    body(class="container")
    
    h1 #{note_title}
    p #{note_content}
    tags #{note_tag}

    br
    br
    a(href="/notes/noteform" class="btn btn-dark") Make another note.
    br
    br
    a(href="/notes" class="btn btn-dark") Main page